# Ignora arquivos de ambiente com dados sensíveis
.env
backend/.env


# Ignora a pasta de dependências do backend
backend/node_modules/

# Ignora a pasta de dependências do frontend
frontend/node_modules/


# Ignora arquivos de log
dist/
build/
.cache/
